
<div class="icon"><%= image_tag "icons/money.svg" %></div>
<div class="info">
  <h2><%= @bank.name %></h2>
  <table>
    <tr>


      <td class="key"><%= t('activerecord.attributes.bank.name') %></td>
      <td class="value"><%= @bank.name %></td>

                            </tr>
  </table>
</div>
