<% content_for :page_title do %>

<%= t('models.list', model: Bank.model_name.human) %>

<% end %>

<% content_for :page_header_right_panel do %>

<div class="btn-toolbar pull-right">
  <div class="btn-group">
      <%= link_to(fa_icon('plus-square', text: t('models.add', model: Bank.model_name.human)), new_bank_path, remote: true, class: 'btn btn-primary') %>
  </div>
</div>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<div class="ibox no-drop">
  <div class="ibox-content">
    <div id="bank-list" class="project-list">

      <%= render 'banks_grid' %>

    </div>
  </div>
</div>