<ul class="nav nav-list">

  <li class="nav-header"><%= t('navigation.page.risk_plan') %></li>
  <%= nav_link_to t('navigation.page.risk_plan_list'), risk_plans_path, {}, { wrapper: :li } %>

  <li class="divider"></li>

  <li class="nav-header"><%= t('navigation.page.recent_risk_plans') %></li>

</ul>