
<div class="icon"><%= image_tag "icons/safe.svg" %></div>
<div class="info">
  <h2><%= t('navigation.page.risk_plan') %></h2>
  <table>
    <tr>
      <td class="key">总方案数</td>
      <td class="value"><%= RiskPlan.count %></td>
      <td></td>
    </tr>
  </table>
</div>
