
<div class="icon"><%= image_tag "icons/safe.svg" %></div>
<div class="info">
  <h2><%= @risk_plan.name %></h2>
  <table>
    <tr>

      <td class="key"><%= t('activerecord.attributes.risk_plan.created_by_id') %></td>
      <td class="value"><%= @risk_plan.created_by.full_name %></td>

    </tr>
  </table>
</div>
