<ul class="nav nav-list">

  <li class="nav-header"><%= RiskPlan.model_name.human %></li>
  <%= nav_link_to t('models.list', model: RiskPlan.model_name.human), risk_plans_path, {}, { wrapper: :li } %>

  <li class="divider"></li>

</ul>