<div class="breadcrumb">
  <a href="#fakelink">风控方案</a> <%= fa_icon('angle-right')%> <a href="#fakelink">产品风控列表</a> <%= fa_icon('angle-right')%> 志投科技-豆粕套利2014
</div>

<div class="page-header">
  <h2>新建风控方案：志投科技-豆粕套利2014 </h2>
</div>



  <%= render 'form' %>


