
<div class="row">
  <div class="col-md-6">
    <div class="icon"><%= image_tag "icons/imac.svg" %></div>
    <div class="info">
      <h2 class="alone"><%= t('navigation.page.monitoring') %></h2>
    </div>
  </div>
  <div class="col-md-6">

    <div class="btn-toolbar pull-right">

      <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Default <span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button class="btn btn-primary" type="button">Primary</button>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button"><span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

