<% content_for :plate_title_panel do %>

<%= render partial: 'monitoring/title_panel' %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<p></p>

<%= render partial: 'monitoring_panels' %>
