<% sidebar = true if local_assigns[:sidebar].nil? %>
<% breadcrumb = true if local_assigns[:breadcrumb].nil? %>

<div class="block push">
  <div class="wrapper">
    <div class="block push">

      <% if sidebar %>

      <div id="sidebar" class="cell">
        <%= yield :sidebar %>
      </div><!-- #sidebar -->

      <% end %>

      <div id="main" class="cell">

        <%= render partial: 'shared/breadcrumb' if breadcrumb %>

        <%= yield %>

      </div> <!-- #main -->

    </div>
  </div>
</div>