<footer class="block">
  <div class="bottom-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-5">
          <a href="/" class="bottom-menu-brand pull-right"><h2>Acropolis</h2></a>
        </div>
        <div class="col-md-7 col-sm-7">
          <ul class="bottom-menu-list">
            <li><a href="#fakelink">About Us</a></li>
            <li><a href="#fakelink">Privacy</a></li>
            <li><a href="#fakelink">Terms</a></li>
            <li><a href="#fakelink">Follow Us</a></li>
            <li><a href="#fakelink">Support</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- /bottom-menu -->
</footer>