<header class="block">
  <div id="global-header">
    <%= render 'shared/navigation' %>
  </div>

  <div id="plate-title-panel">
    <%= yield :plate_title_panel %>
  </div>

  <%= render 'shared/notifications' %>

</header>