<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title"><%= t('messages.confirmation.delete', model: Instrument.model_name.human) %></h4>
    </div>
    <div class="modal-body">
      <div class="panel-heading"></div>
    </div>
    <div class="modal-footer">
      <%= link_to t('buttons.cancel_delete'), "#", class: "btn btn-default btn-sm", data: { dismiss: "modal" } %>
      <%= link_to t('buttons.confirm_delete'), instrument_path(@instrument), method: :delete, remote: true, class: "btn btn-danger btn-sm" %>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->