<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title"><%= @trading_symbol.name %> <%= t('models.all', model: Instrument.model_name.human) %></h4>
    </div>
<div class="modal-body">

<%= render partial: 'instruments_grid' %>

</div>

<div class="modal-footer">

<%= link_to t('buttons.cancel'), "#", class: "btn btn-default btn-sm", data: {dismiss: "modal"} %>

</div>
