/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.issue-tracker th {
  display: none;
}

.wice-grid td {
  vertical-align: middle !important;
}
