<% content_for :page_title do %>

<%= t('models.list', model: TradingAccountBudgetRecord.model_name.human) %>

<% end %>

<% content_for :page_header_right_panel do %>

<div class="btn-toolbar">
  <div class="btn-group pull-right" style="position: relative; top: 28px;">
      <%= link_to(fa_icon('plus-square', text: t('models.add', model: TradingAccountBudgetRecord.model_name.human)), new_trading_account_budget_record_path, remote: true, class: 'btn btn-primary') %>
  </div>
</div>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<div class="ibox no-drop">
  <div class="ibox-content">
    <div id="trading_account_budget_record-list" class="project-list tooltip-demo">

      <%= render 'trading_account_budget_records_grid' %>

    </div>
  </div>
</div>