<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <div class="nav-header">
            <div class="logo-element">
                <span>Acropolis</span>
            </div>
        </div>
        <%= render_navigation(level: 1..2, renderer: :inspinia_sidebar, expand_all: true) %>
    </div>
</nav>