<ul class="nav nav-list">

  <li class="nav-header"><%= Client.model_name.human %></li>
  <%= nav_link_to t('models.list', model: Client.model_name.human), clients_path, {}, { wrapper: :li } %>

  <li class="divider"></li>

</ul>