<div class="btn-toolbar">
    <div class="btn-group pull-right">
    <%= link_to(fa_icon('plus-square', text: t('models.add', model: TradingAccount.model_name.human)), new_client_trading_account_path(@client), remote: true, class: 'btn btn-primary btn-sm') %>
    </div>
</div>

<div id="trading_account-list" class="tooltip-demo">
<%= render partial: 'trading_accounts_grid' %>
</div>