<% content_for :page_title do %>

<%= t('models.list', model: Client.model_name.human) %>

<% end %>

<% content_for :page_header_right_panel do %>

<div class="btn-toolbar">
  <div class="btn-group pull-right">
      <%= link_to(fa_icon('plus-square', text: t('models.add', model: Client.model_name.human)), new_client_path, remote: true, class: 'btn btn-primary') %>
  </div>
</div>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<div class="row">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= t('models.list', model: Client.model_name.human) %></h5>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <%= render 'clients_grid' %>
                </div>
            </div>
        </div>
    </div>
</div>