<% content_for :page_title do %>

<%= t('models.list', model: ProductRiskPlan.model_name.human) %>

<% end %>

<% content_for :page_header_right_panel do %>

<div class="btn-toolbar">
  <div class="btn-group pull-right" style="position: relative; top: 28px;">
      <%= link_to(fa_icon('plus-square', text: t('models.add', model: ProductRiskPlan.model_name.human)), new_product_risk_plan_path, remote: true, class: 'btn btn-primary') %>
  </div>
</div>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<div class="ibox no-drop">
  <div class="ibox-content">
    <div id="product_risk_plan-list" class="project-list tooltip-demo">

      <%= render 'product_risk_plans_grid' %>

    </div>
  </div>
</div>