
<div class="row">

  <% Product.all.each do |product| %>
  <div class="col-md-3">

    <div class="ibox">
      <div class="ibox-title">
      <h5><%= product.name %></h5>
      </div>

      <div class="ibox-content">

        <table class="monitoring">
          <% product.trading_accounts.each do |trading_account| %>
          <tr>
            <td class="key"><%= trading_account.name %></td>
            <td class="value"><%= render_net_worth(trading_account.net_worth) %></td>
          </tr>
          <% end %>
        </table>

      </div>
    </div>

  </div>
  <% end %>

</div>
