
<div class="row">

  <% Product.all.each do |product| %>
  <div class="col-md-4">

    <div class="ibox">
      <div class="ibox-title" style="height: 70px;">
        <div class="row">
          <div class="col-xs-8">
            <h3><%= link_to product.name, product_path(product) %></h3>
            <small>各交易账户净值列表</small>
          </div>
          <div class="col-xs-4"><%= render_net_worth(product.net_worth, class: 'pull-right', font_size: 24) %></div>
        </div>
      </div>
      <div class="ibox-content" style="height: 150px; overflow-y:auto;">
        <ul class="todo-list m-t small-list ui-sortable" style="margin-top:0px;">
          <% product.trading_accounts.each do |trading_account| %>
          <li>
              <span class="m-l-xs"><%= link_to trading_account.name, trading_account_path(trading_account) %></span>
              <%= render_net_worth(trading_account.net_worth, class: "pull-right") %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
  <% end %>

</div>
