<% content_for :page_title do %>

<%= t('navigation.page.risk_monitoring') %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<% content_for :page_header_right_panel do %>

<% end %>

<div id="monitoring-wrapper">
  <%= render partial: 'monitoring_products_list' %>
</div>
