<ul class="nav nav-list">

  <li class="nav-header"><%%= <%= class_name.split('::').last %>.model_name.human %></li>
  <%%= nav_link_to t('models.list', model: <%= class_name.split('::').last %>.model_name.human), <%= class_name.split('::').last.underscore.downcase.pluralize %>_path, {}, { wrapper: :li } %>

  <li class="divider"></li>

</ul>