<%= simple_form_for(@operation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.submit t('buttons.save_changes'), class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
