<ul class="nav nav-list">

  <li class="nav-header"><%= Product.model_name.human %></li>
  <%= nav_link_to t('models.list', model: Product.model_name.human), products_path, {}, { wrapper: :li } %>

  <li class="divider"></li>

</ul>