<%= grid(@products_grid, :show_filters => :when_filtered) do |g|
  g.column name: '#' do |product|
    product.id
  end
  g.column name: t('activerecord.attributes.product.name') do |product|
    link_to(product.name, product_path(product))
  end
  g.column name: t('activerecord.attributes.product.client_id') do |product|
    product.client.name
  end
  g.column name: t('activerecord.attributes.product.budget') do |product|
    number_with_delimiter(product.budget, delimiter: ',')
  end
  g.column name: t('activerecord.attributes.product.broker_id') do |product|
    product.broker.name
  end
  g.column name: t('activerecord.attributes.product.bank_id') do |product|
    product.bank.name
  end

  g.column name: t('activerecord.attributes.product.is_monitored') do |product|
    link_to(content_tag(:div, check_box_tag("checkbox-#{product.id}", nil, product.is_monitored_by?(current_user), data: {toggle: 'switch', 'on-text' => '<span class="fui-check"></span>', 'off-text' => '<span class="fui-cross"></span>'}), class: 'bootstrap-switch-square'), product_monitor_path(product), method: :post, remote: true)
  end


  g.column html: {class: 'btn-cell'} do |product|
    link_to fa_icon("pencil"), edit_product_path(product), class: 'btn btn-default btn-xs', remote: true, data: {toggle: 'tooltip'}, title: t('buttons.edit')
  end

  g.column html: {class: 'btn-cell'} do |product|
    link_to fa_icon("trash"), product_delete_path(product), class: 'btn btn-danger btn-xs', remote: true, data: {toggle: 'tooltip'}, title: t('buttons.delete')
  end
end -%>
