
<div class="icon"><%= image_tag "icons/box.svg" %></div>
<div class="info">
  <h2>豆粕套利2014第1期</h2>
  <table>
    <tr>
      <td class="key">合作银行</td>
      <td class="value">招商银行</td>
      <td class="key">客户名称</td>
      <td class="value">志投科技（成都）有限公司</td>
      <td></td>
    </tr>
  </table>
</div>
