<% content_for :plate_title_panel do %>

<%= render partial: 'products/product_panel' %>

<% end %>

<% content_for :sidebar do %>

<%= render partial: 'products/product_sidebar_menu', locals: { product: @product } %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="risk-plan-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

