<div class="login-screen">
<h2></h2>
  <div class="login-form">


    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group">
        <div class="input-group">
          <%= f.input :email, wrapper: false, label: false %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <%= f.input :password, wrapper: false, label: false %>
        </div>
      </div>

      <%= f.submit t('buttons.sign_in'), class: 'btn btn-primary btn-lg btn-block' %>

    <% end %>
  </div>

</div>

<script type="text/javascript">

(function ($) {

  $(function () {

    $('input[type=email]').removeClass('input-sm');
    $('input[type=email]').closest('.input-group').append($('input[type=email]'));
    $('input[type=email]').closest('.input-group').append($('<span class="input-group-addon"><i class="fui-user"></i></span>'));
    $('input[type=password]').removeClass('input-sm');
    $('input[type=password]').closest('.input-group').append($('input[type=password]'));
    $('input[type=password]').closest('.input-group').append($('<span class="input-group-addon"><i class="fui-lock"></i></span>'));
    $('div.col-sm-10').remove();

  });
}(jQuery));

</script>