<div class="panel">
<%= grid(@products_monitoring_grid, :show_filters => :when_filtered) do |g|
  g.column name: '#' do |product|
    product.id
  end

  g.column name: t('activerecord.attributes.product.name') do |product|
    link_to(product.name, product_path(product))
  end

  Parameter.all.each do |parameter|
    g.column name: t("activerecord.attributes.parameter.name.#{parameter.name}") do |product|
      render_product_parameter(product, parameter)
    end
  end
end -%>
</div>