<ul class="nav nav-list">

  <li class="nav-header"><%= Broker.model_name.human %></li>
  <%= nav_link_to t('models.list', model: Broker.model_name.human), brokers_path, {}, { wrapper: :li } %>

  <li class="divider"></li>

</ul>