<% content_for :page_title do %>

<%= t('models.list', model: Broker.model_name.human) %>

<% end %>

<% content_for :page_header_right_panel do %>

<%= render_cell :toolbar, :show, data: {
  buttons: [
    link_to(fa_icon('plus-square', text: t('models.add', model: Broker.model_name.human)), new_broker_path, remote: true, class: 'btn btn-primary')
  ],
  align: :right
} %>

<% end %>

<% content_for :anything_else do %>

<!-- Modal -->

<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div><!-- /.modal -->

<% end %>

<div class="ibox no-drop">
  <div class="ibox-content">
    <div id="broker-list" class="project-list">

      <%= render 'brokers_grid' %>

    </div>
  </div>
</div>